Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is stored in a computer system. It is designed to efficiently manage, store, and retrieve data for various purposes, such as storing customer information, financial data, product inventory, or any other data that needs to be organized and easily accessible.

There are two main types of databases: SQL and NoSQL databases.

One of the main differences between SQL and NoSQL databases is the way they handle data relationships. SQL databases use tables and define relationships between tables using foreign keys, while NoSQL databases allow for more flexible data models and can store related data in a single document or record.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a type of SQL command used to define the structure and layout of a database. It is a subset of SQL and is used to create, modify and delete the database schema and its objects such as tables, views, indexes, sequences, etc.

Some common DDL commands are:

1. CREATE: Used to create a new database or its objects such as tables, views, indexes, and sequences. For example, to create a new table named "customers" with columns "customer_id", "first_name", and "last_name", we would use the following command:

In [ ]:
CREATE TABLE customers (
   customer_id INT PRIMARY KEY,
   first_name VARCHAR(50),
   last_name VARCHAR(50)
);

2. DROP: Used to remove an existing database or its objects such as tables, views, indexes, and sequences. For example, to drop the "customers" table that we created earlier, we would use the following command:

In [ ]:
DROP TABLE customers;

3. ALTER: Used to modify the structure of an existing database or its objects such as tables, views, indexes, and sequences. For example, to add a new column named "email" to the "customers" table that we created earlier, we would use the following command:

In [ ]:
ALTER TABLE customers ADD email VARCHAR(100);

4. TRUNCATE: Used to remove all data from a table without removing the table structure itself. For example, to remove all the data from the "customers" table that we created earlier, we would use the following command:

In [ ]:
TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate the data in a database. DML statements are used to add, modify, and delete data in the tables of a database.

1. INSERT: This statement is used to insert new data into a table. Here's an example of how to use the INSERT statement:

In [ ]:
INSERT INTO customers (customer_id, first_name, last_name) VALUES (101, 'Vaibhav', 'Srivastava');

2. UPDATE: This statement is used to modify existing data in a table. Here's an example of how to use the UPDATE statement:

In [ ]:
UPDATE customers SET first_name = 'Thunder' WHERE customer_id = 101;

3. DELETE: This statement is used to delete existing data from a table. Here's an example of how to use the DELETE statement:

In [ ]:
DELETE FROM customers WHERE customer_id = 101;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to query a database and retrieve the information stored in the tables.

The main DQL statement is SELECT, which is used to retrieve data from one or more tables in a database. Here's an example of how to use the SELECT statement:

In [ ]:
SELECT * FROM customers;

Q5. Explain Primary Key and Foreign Key.

A primary key and foreign key are two types of constraints in a relational database that help to define the relationships between tables.

1. Primary Key:
A primary key is a column or set of columns in a table that uniquely identifies each row in that table. The primary key constraint ensures that the values in the column(s) are unique and cannot be null. The primary key is used to create relationships between tables and is used as a reference by foreign keys in other tables. For example, in a table of customers, the customer ID might be the primary key, as each customer would have a unique ID.

2. Foreign Key:
A foreign key is a column or set of columns in one table that refers to the primary key in another table. It is used to establish a relationship between two tables. The foreign key constraint ensures that the values in the column(s) must exist in the referenced primary key column of another table, or must be null. For example, in a table of orders, there might be a foreign key that refers to the primary key of the customers table, indicating which customer placed the order.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [8]:
import mysql.connector

# Establish a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="vaibhav",
  database="sakila"
)

# Create a cursor object to execute queries
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT * FROM language")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for row in results:
  print(row)

(1, 'English', datetime.datetime(2006, 2, 15, 5, 2, 19))
(2, 'Italian', datetime.datetime(2006, 2, 15, 5, 2, 19))
(3, 'Japanese', datetime.datetime(2006, 2, 15, 5, 2, 19))
(4, 'Mandarin', datetime.datetime(2006, 2, 15, 5, 2, 19))
(5, 'French', datetime.datetime(2006, 2, 15, 5, 2, 19))
(6, 'German', datetime.datetime(2006, 2, 15, 5, 2, 19))

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query can be summarized as follows:

1. FROM: The FROM clause specifies the table or tables from which data is being retrieved.

2. JOIN: The JOIN clause is used to combine rows from two or more tables based on a related column between them.

3. WHERE: The WHERE clause is used to filter rows based on a specified condition.

4. GROUP BY: The GROUP BY clause is used to group rows that have the same values into summary rows.

5. HAVING: The HAVING clause is used to filter the groups that are created by the GROUP BY clause.

6. SELECT: The SELECT clause is used to select specific columns or expressions from the tables.

7. DISTINCT: The DISTINCT keyword is used to remove duplicates from the result set.

8. ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns.

9. LIMIT: The LIMIT clause is used to limit the number of rows returned by the query.